{% extends 'MyProducts/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load i18n %}
{% block content %}
<!DOCTYPE html>
<html>
<head>
	<title>{% block title %}{% translate "EndingProducts page" %}{% endblock %}</title>
       <!--another jquery for autofilll in add dozi.html css--->

    <!---jqeury css link---->
     <link rel="stylesheet" href="{% static 'DimosoApp/assets/jqueryui/jquery-ui.css' %}">
    <link rel="stylesheet" href="{% static 'DimosoApp/assets/jqueryui/jquery-ui.structure.min.css' %}">
    <link rel="stylesheet" href="{% static 'DimosoApp/assets/jqueryui/jquery-ui.structure.css' %}">
    <link rel="stylesheet" href="{% static 'DimosoApp/assets/jqueryui/jquery-ui.theme.min.css' %}">
     <link rel="stylesheet" href="{% static 'DimosoApp/assets/jqueryui/jquery-ui.theme.css' %}">

     <link rel="stylesheet" href="{% static 'DimosoApp/assets/myjs.js' %}">

	<style type="text/css">
		   table{
        background-color: white;
        border-radius: 15px;
        

       

      }

      table tbody tr td,
table thead tr th,
table thead{
  border-left: 2px solid black;
  border-right:2px solid black;
  border-bottom: 2px solid black;
  border-top: 2px solid black; 
  color: black;
  font-size: 20px;
}
.batani{
        background-color: blue;
        width: 4cm;
        color: white;
        border-radius: 10px;
        padding: 10px;
        margin-top: 20px;
        margin-bottom: 1cm;
      }

input{
  
  padding: 15px;
  margin: 5px;
  border-radius: 10px;
  border: 2px solid blue;
}

	</style>
</head>
<body>


 {% if messages %}
    {% for message in messages %}
     

          <div class="alert alert-warning alert-dismissible fade show" role="alert">
  <strong>{{message}}</strong>
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
    {% endfor %}
  {% endif %}

<div class="container">

	<div class="row">


	

<div class="col-md-12">
<center>
	<h1 style="color: red;font-family: bold;">{% translate "LIST OF ALL ENDING ITEMS" %}</h1>

	

	
</center>

{% if queryset %}

<div class="table-responsive text-nowrap">
  <table class="table">
  <thead>
    <tr>
    	<th>{% translate "No" %}</th>
      <th>{% translate "Item<br> Name" %}</th>
       <th>{% translate "Category<br> Name" %}</th>
        <th>{% translate "Quantity<br>In Store" %}</th>
        <th>{% translate "Re-Order<br> Level" %}</th>
       
         <th>{% translate "Perform<br>Action" %}</th>
         
    </tr>
  </thead>

  <tbody>
    {% for instance in queryset %}
    <tr>
    	<td>{{forloop.counter}}</td>
      <td>{{instance.item_name}}</td>
      <td>{{instance.category}}</td>

      <!--tunaapply style km quantity zikiwa chini ya re order level iyonekane rangi gani--->
      {% if instance.quantity <= instance.reorder_level %}
      <td style="background-color: red;color: white">{{instance.quantity}}</td>
      {% else %}
      <td>
      {{instance.quantity}}
      </td>
      {% endif %}

      {% if user.is_superuser %}
      <td><a href="{% url 'reorder_level' instance.id %}"class="btn btn-primary btn-md my-0 p" type="submit" style="color: white;font-weight: bold;">{{instance.reorder_level}}</a> </td>
     

       <td>
            <a href="{% url 'stock_detailpage' instance.id %}"class="btn btn-success btn-md my-0 p" type="submit" style="margin-bottom: : 3cm;margin-bottom: 1cm;"> {% translate "View" %}  </a>  
       	<a href="{% url 'update_items' instance.pk %}"class="btn btn-success btn-md my-0 p" type="submit" style="margin-bottom: : 3cm;margin-bottom: 1cm;"> {% translate "Update" %}  </a>   

       		<a href="{% url 'delete_items' instance.id %}"class="btn btn-danger btn-md my-0 p" type="submit" style="margin-bottom: : 3cm;margin-bottom: 1cm;"> {% translate "Delete" %}  </a> 
       </td>
       {% else %}
       <td>
            <a href="{% url 'stock_detailpage' instance.id %}"class="btn btn-success btn-md my-0 p" type="submit" style="margin-bottom: : 3cm;margin-bottom: 1cm;"> {% translate "View" %}  </a>  
        <a href=""class="btn btn-success btn-md my-0 p" type="submit" style="margin-bottom: : 3cm;margin-bottom: 1cm;"> {% translate "Only admin" %}  </a>   

         
 

       {% endif %}
      
     
    </tr>

    {% endfor %}
  </tbody>
  </table>
  
</div>

{% else %}
<h1>{% translate "There is no Any Item below Reorder level in a Stock" %}</h1>

{% endif %}


	</div><!--mwisho wa column ya width 8--->


	</div><!--mwisho wa row --->
	
</div>


<!--jquery code for autocomplete javascriptcode---->
<script src="{% static 'DimosoApp/assets/jqueryui/external/jquery/jquery.js' %}" type="text/javascript"></script>
<script src="{% static 'DimosoApp/assets/jqueryui/jquery-ui.js' %}" type="text/javascript"></script>
<script src="{% static 'DimosoApp/assets/jqueryui/jquery-ui.min.js' %}" type="text/javascript"></script>




</body>
</html>
{% endblock %}